.beam-ruler {
  display: none;
  position: fixed;
  border-top: 1px solid rgb(12, 12, 12);
  transform-origin: top left; // ось вращения четыреугольника находится в левой вершине
  flex-shrink: 2;
  opacity: 0.3;
}